In [1]:
import pandas as pd

In [2]:
Total_sales = pd.read_excel('clean_data.xlsx')

In [3]:
Total_sales.head()

,Unnamed: 0,ID,Year_Birth,Age,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,0,1503,1976,45,PhD,Together,162397,1,1,6/3/13,...,1,1,0,0,0,0,0,0,0,Spain
1,1,1501,1982,39,PhD,Married,160803,0,0,8/4/12,...,1,0,0,0,0,0,0,0,0,USA
2,2,5336,1971,50,Master,Together,157733,1,0,6/4/13,...,1,1,0,0,0,0,0,0,0,Spain
3,3,8475,1973,48,PhD,Married,157243,0,1,3/1/14,...,0,0,0,0,0,0,0,0,0,India
4,4,4931,1977,44,Graduation,Together,157146,0,0,4/29/13,...,0,1,0,0,0,0,0,0,0,Saudi Arabia

In [4]:
import numpy as np
conditions = [
    (Total_sales['Income'] <= 25000),
    (Total_sales['Income'] > 25000) & (Total_sales['Income'] <= 75000),
    (Total_sales['Income'] > 75000)
    ]

values = ['Low Income', 'Middle Income', 'High Income']

Total_sales['Income_Level'] = np.select(conditions, values)

In [5]:
Total_sales.head()

,Unnamed: 0,ID,Year_Birth,Age,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country,Income_Level
0,0,1503,1976,45,PhD,Together,162397,1,1,6/3/13,...,1,0,0,0,0,0,0,0,Spain,High Income
1,1,1501,1982,39,PhD,Married,160803,0,0,8/4/12,...,0,0,0,0,0,0,0,0,USA,High Income
2,2,5336,1971,50,Master,Together,157733,1,0,6/4/13,...,1,0,0,0,0,0,0,0,Spain,High Income
3,3,8475,1973,48,PhD,Married,157243,0,1,3/1/14,...,0,0,0,0,0,0,0,0,India,High Income
4,4,4931,1977,44,Graduation,Together,157146,0,0,4/29/13,...,1,0,0,0,0,0,0,0,Saudi Arabia,High Income

In [6]:
Total_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2229 non-null   int64
 1   ID                   2229 non-null   int64
 2   Year_Birth           2229 non-null   int64
 3   Age                  2229 non-null   int64
 4   Education            2229 non-null   object
 5   Marital_Status       2229 non-null   object
 6   Income               2229 non-null   int64
 7   Kidhome              2229 non-null   int64
 8   Teenhome             2229 non-null   int64
 9   Dt_Customer          2229 non-null   object
 10  Recency              2229 non-null   int64
 11  MntWines             2229 non-null   int64
 12  MntFruits            2229 non-null   int64
 13  MntMeatProducts      2229 non-null   int64
 14  MntFishProducts      2229 non-null   int64
 15  MntSweetProducts     2229 non-null   int64
 16  MntGoldProds         2229 non-null   int64
 17  NumDealsPurchases    2229 non-null   int64
 18  NumWebPurchases      2229 non-null   int64
 19  NumCatalogPurchases  2229 non-null   int64
 20  NumStorePurchases    2229 non-null   int64
 21  NumWebVisitsMonth    2229 non-null   int64
 22  AcceptedCmp3         2229 non-null   int64
 23  AcceptedCmp4         2229 non-null   int64
 24  AcceptedCmp5         2229 non-null   int64
 25  AcceptedCmp1         2229 non-null   int64
 26  AcceptedCmp2         2229 non-null   int64
 27  Response             2229 non-null   int64
 28  Complain             2229 non-null   int64
 29  Country              2229 non-null   object
 30  Income_Level         2229 non-null   object
dtypes: int64(26), object(5)
memory usage: 540.0+ KB

In [7]:
wines_income = pd.DataFrame(Total_sales.groupby('Income_Level').MntWines.sum())
wines_income

               MntWines
Income_Level
High Income      235508
Low Income         2688
Middle Income    439924

In [8]:
fruits_income = pd.DataFrame(Total_sales.groupby('Income_Level').MntFruits.sum())
fruits_income

               MntFruits
Income_Level
High Income        22510
Low Income          1475
Middle Income      34581

In [9]:
meats_income = pd.DataFrame(Total_sales.groupby('Income_Level').MntMeatProducts.sum())
meats_income

               MntMeatProducts
Income_Level
High Income             169439
Low Income                5251
Middle Income           197881

In [10]:
fish_income = pd.DataFrame(Total_sales.groupby('Income_Level').MntFishProducts.sum())
fish_income

               MntFishProducts
Income_Level
High Income              32715
Low Income                1910
Middle Income            48864

In [11]:
sweet_income = pd.DataFrame(Total_sales.groupby('Income_Level').MntSweetProducts.sum())
sweet_income

               MntSweetProducts
Income_Level
High Income               24145
Low Income                 1531
Middle Income             34788

In [12]:
gold_income = pd.DataFrame(Total_sales.groupby('Income_Level').MntGoldProds.sum())
gold_income

               MntGoldProds
Income_Level
High Income           25160
Low Income             4563
Middle Income         68050

In [13]:
data=wines_income.merge(fruits_income, on='Income_Level',how='left') \
    .merge(meats_income, on='Income_Level',how='left') \
    .merge(fish_income, on='Income_Level',how='left')\
    .merge(sweet_income, on='Income_Level',how='left')\
    .merge(gold_income, on='Income_Level',how='left')

In [14]:
data.head()

,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds
Income_Level,,,,,,
High Income,235508,22510,169439,32715,24145,25160
Low Income,2688,1475,5251,1910,1531,4563
Middle Income,439924,34581,197881,48864,34788,68050

In [15]:
data['Income_Level']=data.index

In [16]:
data.head()

,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,Income_Level
Income_Level,,,,,,,
High Income,235508,22510,169439,32715,24145,25160,High Income
Low Income,2688,1475,5251,1910,1531,4563,Low Income
Middle Income,439924,34581,197881,48864,34788,68050,Middle Income

In [17]:
data.columns

Index(['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts',
       'MntSweetProducts', 'MntGoldProds', 'Income_Level'],
      dtype='object')

In [24]:
long=data.melt( 
        id_vars=['Income_Level'],
        value_vars= ['MntWines', 'MntMeatProducts','MntGoldProds', 'MntFishProducts',
       'MntSweetProducts', 'MntFruits'],
        var_name='Product',
        value_name='Sales')

long.head()

    Income_Level          Product   Sales
0    High Income         MntWines  235508
1     Low Income         MntWines    2688
2  Middle Income         MntWines  439924
3    High Income  MntMeatProducts  169439
4     Low Income  MntMeatProducts    5251

In [26]:
import plotly.express as px

# hist_data = px.data.long

fig = px.bar(long, x="Product", y="Sales", color="Income_Level", title="Product Sales vs Income Level")

fig.update_layout(
    xaxis = dict(
        tickmode = 'array',
        tickvals = [0, 1, 2, 3, 4, 5,6],
        ticktext = ['Wines', 'Meat', 'Gold', 'Fish Products', 'Sweets', 'Fruits']
    )
)
fig.show()